root {
  display: block
}

body,
html {
  height: 100%
}

body {
  background-color: #f5f8fa
}

#main {
  min-height: 100%
}

#book-appointment-wizard {
  background: #fff;
  min-height: 480px;
  padding   : 0;
  margin    : auto
}

#book-appointment-wizard #header {
  overflow  : auto;
  height    : auto;
  padding   : 20px 15px;
  background: #429a82
}

#book-appointment-wizard #company-name {
  float      : none;
  display    : block;
  text-align : center;
  font-size  : 24px;
  font-weight: lighter;
  color      : #fff;
  margin     : 20px 0
}

#book-appointment-wizard #steps {
  float   : none;
  display : block;
  overflow: auto;
  margin  : 15px auto;
  width   : 190px
}

#book-appointment-wizard #book-appointment-form #book-appointment-submit {
  width       : 100%;
  margin-right: 0
}

#book-appointment-wizard #form-message {
  text-align   : center;
  margin-bottom: 30px
}

#book-appointment-wizard .wizard-frame {
  height : auto;
  padding: 15px
}

#book-appointment-wizard .wizard-frame .frame-container {
  height    : auto;
  min-height: 500px;
  padding   : 15px 0
}

#book-appointment-wizard .frame-container .frame-title {
  font-weight  : lighter;
  text-align   : center;
  margin-bottom: 30px;
  color        : #666
}

#book-appointment-wizard .frame-container .frame-content {
  float: none
}

#book-appointment-wizard .wizard-frame .command-buttons {
  float     : none;
  margin    : 15px auto;
  text-align: center
}

#book-appointment-wizard .wizard-frame .command-buttons .btn {
  min-width   : 120px;
  margin-right: 10px
}

#book-appointment-wizard .wizard-frame .command-buttons .btn:last-child {
  margin-right: 0
}

#book-appointment-wizard .wizard-frame #select-date {
  max-width: 288px;
  margin   : auto;
  padding  : 15px 0
}

#book-appointment-wizard .wizard-frame #select-date>.ui-datepicker {
  margin: auto
}

#book-appointment-wizard .wizard-frame #select-time {
  max-width: 288px;
  margin   : auto;
  padding  : 15px 0
}

#book-appointment-wizard .book-step {
  display      : inline-block;
  height       : 35px;
  width        : 35px;
  float        : left;
  background   : #225d4d;
  padding      : 8px;
  margin-right : 12px;
  margin-top   : 6px;
  border-radius: .25rem;
  transition   : all .3s linear
}

#book-appointment-wizard .book-step:last-child {
  margin-right: 0
}

#book-appointment-wizard .book-step strong {
  font-size : 12px;
  display   : block;
  text-align: center;
  color     : #0bb98d;
  transition: all .3s linear;
  cursor    : default
}

#book-appointment-wizard .active-step {
  display     : inline-block;
  height      : 45px;
  width       : 45px;
  float       : left;
  background  : #fff;
  padding     : 7px;
  margin-right: 13px;
  margin-top  : 0
}

#book-appointment-wizard .active-step strong {
  color    : #429a82;
  font-size: 21px
}

#book-appointment-wizard #frame-footer {
  padding   : 15px;
  text-align: center;
  border-top: 1px solid #ebeef1
}

#book-appointment-wizard #available-hours {
  overflow     : auto;
  margin       : 15px 0;
  padding-right: 10px;
  width        : auto;
  max-height   : 255px
}

#book-appointment-wizard #available-hours div {
  margin-right: 30px
}

#book-appointment-wizard #available-hours .available-hour {
  margin-bottom: 10px
}

#book-appointment-wizard #available-hours .selected-hour {
  background-color: #439a82;
  border-color    : #439a82;
  color           : #fff
}

#book-appointment-wizard .span3 {
  min-width: 270px
}

#book-appointment-wizard #select-timezone {
  margin-bottom: 15px
}

#book-appointment-wizard #appointment-details p,
#book-appointment-wizard #customer-details p {
  font-size  : 16px;
  line-height: 28px
}

#book-appointment-wizard #wizard-frame-1 label {
  font-size    : 19px;
  margin-bottom: 12px
}

#book-appointment-wizard #wizard-frame-1 select {
  margin-bottom: 25px
}

#book-appointment-wizard .captcha-title {
  float : left;
  margin: 7px 0 10px 0
}

#book-appointment-wizard .captcha-title .fa-sync-alt {
  cursor    : pointer;
  transition: all .3s linear
}

#book-appointment-wizard .captcha-title .fa-sync-alt:hover {
  color: #1a865f
}

#book-appointment-wizard .captcha-image {
  float        : left;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow   : 1px 1px 4px rgba(0, 0, 0, .4)
}

#book-appointment-wizard .captcha-text {
  width        : 100%;
  margin-bottom: 20px
}

#book-appointment-wizard #service-description {
  overflow-y: auto;
  clear     : both;
  max-height: 153px;
  box-shadow: none
}

#book-appointment-wizard #select-language,
#book-appointment-wizard .backend-link {
  display  : block;
  min-width: 120px;
  margin   : 15px auto;
  padding  : 5px
}

.popover .popover-title {
  text-align: center
}

.popover .popover-content #language-list .language {
  margin: 15px 0
}

@media (min-width:768px) {
  .wrapper {
    min-height: 100vh
  }

  #book-appointment-wizard {
    border-radius: .25rem;
    overflow     : hidden;
    box-shadow   : rgba(45, 62, 80, .12) 0 1px 5px 0
  }

  #book-appointment-wizard #company-name {
    display: inline-block;
    float  : left;
    margin : 10px auto
  }

  #book-appointment-wizard #steps {
    display: inline-block;
    float  : right;
    margin : 5px auto
  }

  #book-appointment-wizard .wizard-frame {
    padding: 10px 20px
  }

  #book-appointment-wizard .wizard-frame .command-buttons {
    display        : flex;
    justify-content: space-between
  }

  #book-appointment-wizard .captcha-title {
    margin-right: 20px;
    margin-top  : 7px
  }

  #book-appointment-wizard .captcha-image {
    float: right
  }

  #book-appointment-wizard #select-language {
    width  : 100px;
    padding: 5px;
    margin : 5px auto
  }

  #book-appointment-wizard #frame-footer small {
    display: flex
  }

  #book-appointment-wizard .footer-options,
  #book-appointment-wizard .footer-powered-by {
    width: 50%
  }

  #book-appointment-wizard .footer-powered-by {
    text-align: left;
    padding   : 5px 5px 5px 0
  }

  #book-appointment-wizard .footer-options {
    text-align: right
  }

  #book-appointment-wizard #select-language {
    display     : inline-block;
    margin-right: 15px
  }

  #book-appointment-wizard .backend-link {
    display  : inline-block;
    min-width: 120px;
    padding  : 5px;
    margin   : 5px auto
  }
}

#message-frame,
#success-frame {
  background: #fff;
  border    : 1px solid #dddada;
  padding   : 70px
}

#message-frame #message-icon,
#success-frame #success-icon {
  margin-top  : 20px;
  margin-right: 20px
}

#message-frame .alert,
#success-frame .alert {
  margin-top: 20px
}

#message-frame,
#success-frame {
  text-align: center;
  height    : auto;
  border    : none;
  padding   : 35px
}

#message-frame #message-icon,
#success-frame #success-icon {
  width  : 64px;
  display: block;
  margin : auto;
  float  : none !important
}

#success-frame .btn {
  margin-bottom: 10px;
  width        : 80%;
  max-width    : 300px
}

@media (min-width:768px) {

  #message-frame,
  #success-frame {
    height: 100%
  }
}

.booking-header-bar {
  padding      : 15px 0;
  margin       : 0;
  background   : #f3f2e7;
  border-bottom: 1px solid #e4e1c9;
  text-align   : center
}

.ui-dialog .ui-dialog-title {
  font-size: 1.2em
}

@media (min-width:768px) {
  .booking-header-bar {
    padding      : 15px 0;
    margin       : 0;
    background   : #f3f2e7;
    border-bottom: 1px solid #e4e1c9;
    text-align   : left
  }
}

/*    ##############################################################               */

@-moz-document url-prefix() {
  body .checkbox input[type=checkbox] {
    float: left
  }
}

body .ui-widget {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size  : 1.1em
}

body .ui-widget-overlay {
  background: #000 50% 50% repeat-x;
  opacity   : .5;
  filter    : Alpha(Opacity=50)
}

body .ui-dialog .ui-dialog-titlebar-close {
  display: none
}

body .ui-draggable .ui-dialog-titlebar {
  background   : #429a82;
  color        : #fff;
  font-size    : 1.2em;
  font-weight  : lighter;
  padding      : 12px 10px;
  margin-bottom: 10px;
  border       : none;
  border-radius: 0
}

body .ui-dialog {
  padding   : 0;
  z-index   : 2000;
  border    : none !important;
  box-shadow: 0 0 10px #333
}

body .ui-dialog .ui-dialog-buttonpane {
  padding: .3em 1em .3em .4em;
  border : none
}

body .ui-dialog .ui-dialog-buttonpane .btn {
  min-width: 120px
}

body .ui-button .ui-icon,
body .ui-button:hover .ui-icon {
  background-image: url(../ext/jquery-ui/images/ui-icons_222222_256x240.png)
}

body .ui-dialog #error-technical {
  max-width: 500px
}

body .ui-widget.ui-widget-content {
  border : 1px solid #429a82;
  padding: 0
}

body #ui-datepicker-div {
  margin-top: 5px;
  z-index   : 1100 !important
}

body .ui-datepicker {
  width    : auto;
  max-width: 288px
}

body .ui-datepicker .ui-widget-header {
  border       : none;
  background   : #429a82;
  border-radius: 0
}

body .ui-datepicker .ui-widget-header .ui-icon {
  background-image: url(../ext/jquery-ui/images/ui-icons_ffffff_256x240.png)
}

body .ui-datepicker .ui-datepicker-title {
  color  : #fff;
  padding: 8px 5px
}

body .ui-datepicker th {
  background: #429a82;
  color     : #fff
}

body .ui-datepicker tbody tr:first-child td {
  margin-top: 5px
}

body .ui-datepicker td a,
body .ui-datepicker td span {
  border     : none !important;
  background : 0 0 !important;
  color      : #1a865f !important;
  text-align : center !important;
  width      : 32px;
  height     : 32px;
  line-height: 2
}

html body .ui-datepicker td a.ui-state-active {
  color        : #fff !important;
  font-weight  : 700 !important;
  background   : #429a82 !important;
  border-radius: 50px;
  width        : 24px;
  height       : 24px;
  line-height  : 1.2;
  margin       : 4px
}

body .ui-datepicker td a.ui-state-highlight {
  background   : #80e3ad !important;
  border-radius: 67px;
  color        : #fff !important;
  width        : 24px;
  height       : 24px;
  line-height  : 1.2;
  margin       : 4px
}

body .ui-datepicker .ui-datepicker-prev-hover {
  top          : 2px !important;
  left         : 2px !important;
  background   : #80e1ac;
  border-color : #80e1ac;
  border-radius: 0;
  cursor       : pointer
}

body .ui-datepicker .ui-datepicker-next-hover {
  top          : 2px !important;
  right        : 2px !important;
  background   : #80e1ac;
  border-color : #80e1ac;
  border-radius: 0;
  cursor       : pointer
}

body .ui-datepicker .ui-slider-handle {
  border-radius   : 0;
  border-color    : #429a82;
  background-color: #429a82
}

body .ui-priority-primary,
body .ui-widget-content .ui-priority-primary,
body .ui-widget-header .ui-priority-primary {
  font-weight: 400
}

.ui-widget select,
body .ui-widget button,
body .ui-widget input,
body .ui-widget textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size  : 1rem
}

body .ui-datepicker .ui-datepicker-buttonpane button {
  padding: 6px 16px
}

.breaks tr:hover td {
  background: #ffffc2 !important
}

.working-plan td {
  vertical-align: middle
}

.breaks td {
  vertical-align: middle
}

li.language {
  cursor: pointer
}

li.language:hover {
  color: #005580
}

#select-language {
  cursor : pointer;
  display: inline-block;
  padding: 5px
}

#language-list {
  list-style  : none;
  padding-left: 0;
  max-height  : 500px;
  overflow-y  : auto
}

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px
}

.ui-timepicker-div dl {
  text-align: left
}

.ui-timepicker-div dl dt {
  float  : left;
  clear  : left;
  padding: 0 0 0 5px
}

.ui-timepicker-div dl dd {
  margin: 0 10px 10px 40%
}

.ui-timepicker-div dl dd.ui_tpicker_time {
  margin-bottom: 4px
}

.ui-timepicker-div dl dd.ui_tpicker_hour,
.ui-timepicker-div dl dd.ui_tpicker_minute {
  padding-top: 8px
}

.ui-timepicker-div td {
  font-size: 90%
}

.ui-tpicker-grid-label {
  background: 0 0;
  border    : none;
  margin    : 0;
  padding   : 0
}

.ui-timepicker-div .ui_tpicker_unit_hide {
  display: none
}

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input {
  background: 0 0;
  color     : inherit;
  border    : none;
  outline   : 0;
  width     : 95%
}

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus {
  border-bottom-color: #aaa
}

.ui-timepicker-rtl {
  direction: rtl
}

.ui-timepicker-rtl dl {
  text-align: right;
  padding   : 0 5px 0 0
}

.ui-timepicker-rtl dl dt {
  float: right;
  clear: right
}

.ui-timepicker-rtl dl dd {
  margin: 0 40% 10px 10px
}

.ui-timepicker-div.ui-timepicker-oneLine {
  padding-right: 2px
}

.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,
.ui-timepicker-div.ui-timepicker-oneLine dt {
  display: none
}

.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label {
  display    : block;
  padding-top: 2px
}

.ui-timepicker-div.ui-timepicker-oneLine dl {
  text-align: right
}

.ui-timepicker-div.ui-timepicker-oneLine dl dd,
.ui-timepicker-div.ui-timepicker-oneLine dl dd>div {
  display: inline-block;
  margin : 0
}

.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before {
  content: ':';
  display: inline-block
}

.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before {
  content: '.';
  display: inline-block
}

.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before {
  display: none
}

.is-loading {
  position: relative
}

.is-loading:after,
.is-loading:before {
  content : '';
  position: absolute;
  top     : 50%;
  left    : 50%
}

.animation:after {
  width        : 60px;
  height       : 60px;
  margin       : -25px 0 0 -25px;
  border       : 5px solid rgba(0, 0, 0, .4);
  border-radius: 50px
}

.animation:after {
  border-bottom-color: transparent;
  animation          : spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(-360deg)
  }
}

.any-element {
  width        : 60px;
  height       : 60px;
  position     : fixed;
  left         : 50vw;
  top          : 50vh;
  margin-left  : -30px;
  margin-bottom: -30px
}

#message-box .card,
#message-box pre {
  max-height: 250px;
  max-width : 500px
}

body .popover {
  max-width: 400px
}

body .popover-body strong {
  min-width: 90px;
  display  : inline-block
}

body .popover-body button {
  font-size : 1em;
  box-sizing: border-box;
  margin    : 0;
  height    : 2.1em;
  padding   : 0 .6em
}

body .popover-body a {
  margin-right: 5px
}

.has-error .control-label,
.has-error label {
  color: #dc3545
}

.has-error .form-control {
  border-color: #dc3545
}

body .clearfix {
  clear: both
}

/* body {
    background-color: #ffffff;
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
  .wizard-content-left {
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.45);
    background-image: url("../../img/meeteng-room.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    padding: 30px;
  }
  .wizard-content-left h1 {
    color: #ffffff;
    font-size: 38px;
    font-weight: 600;
    padding: 12px 20px;
    text-align: center;
  }
  
  .form-wizard {
    color: #888888;
    padding: 30px;
  }
  .form-wizard .wizard-form-radio {
    display: inline-block;
    margin-left: 5px;
    position: relative;
  }
  .form-wizard .wizard-form-radio input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #dddddd;
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
  }
  .form-wizard .wizard-form-radio input[type="radio"]:focus {
    outline: 0;
  }
  .form-wizard .wizard-form-radio input[type="radio"]:checked {
    background-color: #fb1647;
  }
  .form-wizard .wizard-form-radio input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    left: 1px;
    right: 0;
    margin: 0 auto;
    top: 8px;
  }
  .form-wizard .wizard-form-radio input[type="radio"]:checked::after {
    content: "";
    display: inline-block;
    webkit-animation: click-radio-wave 0.65s;
    -moz-animation: click-radio-wave 0.65s;
    animation: click-radio-wave 0.65s;
    background: #000000;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
    border-radius: 50%;
  }
  .form-wizard .wizard-form-radio input[type="radio"] ~ label {
    padding-left: 10px;
    cursor: pointer;
  }
  .form-wizard .form-wizard-header {
    text-align: center;
  }
  .form-wizard .form-wizard-next-btn, .form-wizard .form-wizard-previous-btn, .form-wizard .form-wizard-submit {
    background-color: #d65470;
    color: #ffffff;
    display: inline-block;
    min-width: 100px;
    min-width: 120px;
    padding: 10px;
    text-align: center;
  }
  .form-wizard .form-wizard-next-btn:hover, .form-wizard .form-wizard-next-btn:focus, .form-wizard .form-wizard-previous-btn:hover, .form-wizard .form-wizard-previous-btn:focus, .form-wizard .form-wizard-submit:hover, .form-wizard .form-wizard-submit:focus {
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
  }
  .form-wizard .wizard-fieldset {
    display: none;
  }
  .form-wizard .wizard-fieldset.show {
    display: block;
  }
  .form-wizard .wizard-form-error {
    display: none;
    background-color: #d70b0b;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .form-wizard .form-wizard-previous-btn {
    background-color: #fb1647;
  }
  .form-wizard .form-control {
    font-weight: 300;
    height: auto !important;
    padding: 15px;
    color: #888888;
    background-color: #f1f1f1;
    border: none;
  }
  .form-wizard .form-control:focus {
    box-shadow: none;
  }
  .form-wizard .form-group {
    position: relative;
    margin: 25px 0;
  }
  .form-wizard .wizard-form-text-label {
    position: absolute;
    left: 10px;
    top: 16px;
    transition: 0.2s linear all;
  }
  .form-wizard .focus-input .wizard-form-text-label {
    color: #d65470;
    top: -18px;
    transition: 0.2s linear all;
    font-size: 12px;
  }
  .form-wizard .form-wizard-steps {
    margin: 30px 0;
  }
  .form-wizard .form-wizard-steps li {
    width: 25%;
    float: left;
    position: relative;
  }
  .form-wizard .form-wizard-steps li::after {
    background-color: #f3f3f3;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
  }
  .form-wizard .form-wizard-steps li span {
    background-color: #dddddd;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 1;
  }
  .form-wizard .form-wizard-steps li:last-child::after {
    width: 50%;
  }
  .form-wizard .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
    background-color: #d65470;
    color: #ffffff;
  }
  .form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
    background-color: #d65470;
    left: 50%;
    width: 50%;
    border-color: #d65470;
  }
  .form-wizard .form-wizard-steps li.activated::after {
    width: 100%;
    border-color: #d65470;
  }
  .form-wizard .form-wizard-steps li:last-child::after {
    left: 0;
  }
  .form-wizard .wizard-password-eye {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  @keyframes click-radio-wave {
    0% {
      width: 25px;
      height: 25px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      width: 60px;
      height: 60px;
      margin-left: -15px;
      margin-top: -15px;
      opacity: 0.0;
    }
  }
  @media screen and (max-width: 767px) {
    .wizard-content-left {
      height: auto;
    }
  }
   */