<!-- Popup Modal -->
<div id="custom-modal" class="custom-modal">
    <div class="custom-modal-dialog">
        <div class="custom-modal-content">
            <span class="close-modal">X</span>
            <div class="custom-modal-body">
                <div class="custom-modal-inner">
                    <!-- Contetn here 
                    <h4>title </h4>
                    <p>djklghfg</p>-->

                    {{ partial "form/wizard.html" . }}

                </div>
            </div>
        </div>
    </div>
</div>
