<!-- Popup Modal 
<div id="custom-modal" class="custom-modal">
    <div class="custom-modal-dialog">
        <div class="custom-modal-content">
            <span class="close-modal">X</span>
            <div class="custom-modal-body">
                <div class="custom-modal-inner">
                    
                    {{/*  {{ partial "form/wizard4.html" . }}  */}}

                </div>
            </div>
        </div>
    </div>
</div>
-->

<div id="custom-moda"   class="custom-modal">
    <div class="custom-modal-dialog">
        <div class="custom-modal-content">

            <span class="close-modal">X</span>

            {{ partial "form/wizard5.html" . }} 
            
        </div>
    </div>
</div>