{{/*  <p>Copyright {{ now.Year }}. All rights reserved.</p>  */}}


<div id="dvMenuFooter"> <!-- Newsletter Subscription Widget Start. -->
    <div class="container-fluid footersubscribe" id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subscibe-box">
                        <div class="subscibe-lhs">
                            <h3>Subscribe to Aspose Product Updates</h3>
                            <p>Get monthly newsletters &amp; offers directly delivered to your mailbox.</p>
                        </div>
                        <div class="subscibe-rhs">
                            <form style="color:#FFFFFF" id="subscribe_form" method="post">
                                <div id="subscribe_fields">
                                    <input placeholder="Enter email address" type="email" id="subscribe_email"
                                        class="form-control" name="subscribe_email" required="">
                                    <button class="btn btn-danger" id="subscribe_submit" type="button"
                                        data-endpoint="https://" data-list="English"
                                        data-loading-text="Submit"
                                        data-exists="Specified email address already exists."
                                        data-success="Thank you for subscribing.">Submit</button>
                                </div>
                            </form>
                            <div id="subscribe_message" style="display:none;">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter Subscription Widget End. -->
    <div class="footerbottom">
        <div class="footercol">
            <div class="socialicon">
                <ul>
                    <li><a class="fb" title="Like us on Facebook" href="https://#"><i
                                class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" title="Follow us on Twitter" href="https://#"><i
                                class="fa-twitter fa"></i></a></li>
                    <!-- <li><a class="googleplus" title="Join us on Google " href="https://plus.google.com/ aspose"><i class="fa-google-plus fa"></i></a></li>
            <li><a class="youtube" title="Watch us on YouTube" href="https://www.youtube.com/user/AsposeVideo"><i class="fa-youtube-play fa"></i></a></li> -->
                    <li><a class="linkedin" title="Link us on LinkedIn"
                            href="https://#"><i class="fa-linkedin fa"></i></a></li>
                    <li><a class="stackoverflow" title="Find us on Stackoverflow"
                            href="https://#"><i
                                class="fa-stack-overflow fa"></i></a> </li>
                    <li><a class="quora" title="Check us out on Quora" href="https://#"><i
                                class="fa fa-quora"></i></a> </li>
                    <li><a href="https://#" title="Github Repositories" class="github"><i
                                class="fa-github-alt fa"></i></a></li>
                    <li><a class="RSS" title="Subscribe to the feeds" href="https://#"><i
                                class="fa-rss fa"></i></a></li>
                </ul>
            </div>
            <div class="bottomenuitems">
                <ul>
                    <li><a href="https://www.aspose.com/">Home</a></li>
                    <li class="sep1">|</li>
                    <li><a href="https://products.aspose.com">Products</a></li>
                    <li class="sep1">|</li>
                    <li><a href="https://releases.aspose.com/">New Releases</a></li>
                    <li class="sep1">|</li>
                    <li><a href="https://purchase.aspose.com/pricing">Pricing</a></li>
                    <li class="sep1">|</li>

                    <li><a href="https://docs.aspose.com">Docs</a></li>
                    <li class="sep1">|</li>
                    <li><a href="https://demos.aspose.com/">Live Demos</a></li>
                    <li class="sep1">|</li>
                    <li><a href="https://forum.aspose.com/">Free Support</a></li>
                    <li class="sep1">|</li>
                    <li><a href="https://aspose-free-consulting.github.io/">Free Consulting</a></li>
                    <li class="sep1">|</li>
                    <li><a href="https://helpdesk.aspose.com/">Paid Support</a></li>
                    <li class="sep1">|</li>
                    <li><a href="https://consulting.aspose.com/">Paid Consulting</a></li>
                    <li class="sep1">|</li>
                    <li><a href="https://blog.aspose.com/">Blog</a></li>
                    <li class="sep1">|</li>
                    <li><a rel="nofollow" href="https://websites.aspose.com/">Websites</a></li>
                    <li class="sep1">|</li>
                    <li><a href="https://about.aspose.com/">About</a></li>
                </ul>
            </div>
        </div>
        <div class="footer2bar">
            <div class="footer2col">
                <div class="footer2text">
                    <p>© Aspose Pty Ltd 2001-2023. All Rights Reserved.</p>
                </div>
                <div class="footer2anchor"><span class="footer2bottom"><a
                            href="https://about.aspose.com/legal/privacy-policy">Privacy Policy</a> <span
                            class="sep1">|</span> <a href="https://about.aspose.com/legal/terms-of-use">Terms of
                            use</a> <span class="sep1">|</span> <a
                            href="https://about.aspose.com/contact/">Contact</a></span></div>
            </div>
        </div>
    </div>
</div>


